<center>
    <div class="signature">
    <h1>Kevin Patrick Westropp</h1>
    <p>
        <a href="http://www.cdm.depaul.edu/" target="_blank"><img src="/assets/depaullogo.jpg" alt="DePaul" width="25" height="25"/></a>
        <a href="http://www.kevinpatrickwestropp.org" target="_blank"><img src="/assets/kpworg.png" width="25" height="25"/></a>
        <a href="http://github.com/highlanderkev" target="_blank"><img src="/assets/github.png" alt="GithubCat" width="25" height="25"/></a>
        <a href="https://www.linkedin.com/in/kevinpatrickwestropp" target="_blank"><img src="/assets/linkedin.png" alt="LinkedinIcon" width="25" height="25"/></a>
        <a href="mailto:mail@kevinpatrickwestropp.com" target="_blank"><img src="/assets/email.png" alt="email icon" width="25" height="25"/></a>
    </p>
    <p class="view"><a href="http://www.kevinpatrickwestropp.org/home/cv/index">View my Resume/CV</a></p>
    <a href="/" class="btn btn-small btn-info"><strong>Home</strong></a>
    <br />
    </div>
    {% include twitter.html %}
</center>
